
        body {
            margin: 0;
            font-family: "Roboto", Arial, sans-serif;
            --left-indent: 4rem;
        }
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
        }
        h2 {
            font-size: 1.5rem;
            font-weight: normal;
        }
        a {
            color: black;
        }
        a:visited {
            color: #707070;
        }
        p {
            margin-top:    0.2em;
            margin-bottom: 0.2em;
        }
        /*necessary*/
        n {
            color: #922b21;
        }
        /*holidays*/
        h {
            color: #00ac00;
            font-size: 0.75rem;
        }

        header {
            display: grid;
            grid-template-columns: 2fr 1fr;
            width: 100%;
            background: linear-gradient(#e2e6ee, #e1e5ed, #d7d9e4, #cdd0dc);
            padding-top: 2rem;
        }
        header .title {
            --title-font-size : 3rem;
            padding-top:  calc( var(--left-indent) - var(--title-font-size) );
            padding-left: var(--left-indent);
            font-size:    var(--title-font-size);
        }
        header img {
            float: right;
            max-height: 20rem;
        }

        main {
            margin-left: var(--left-indent);
            margin-right: var(--left-indent);
            padding-bottom: 5rem;
        }

        article {
            padding-bottom: 2rem;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid black;
            margin-bottom: 2rem;
        }
        table th {
            background-color: #1a5276 ;
            color: white;
            width: 40%;
            text-align: left;
            padding-left: 0.5rem;
        }
        table td {
            width: 40%;
            padding-top: 1rem;
            padding-left: 0.5rem;
        }

        table td.last {
            color: #1a5276;
            padding-bottom: 3rem;
        }

        footer {
            background:    linear-gradient(#cdd0dc, #e2e6ee);
            padding-left:  var(--left-indent);
            padding-right: var(--left-indent);
            padding-top: 1rem;
            padding-bottom: 1rem;
            display:       grid;
            grid-template-columns: 3fr 2fr;
        }
        address {
            font-style:  normal;
            white-space: pre-line;
        }
